<div>
    {{input type="text" class="form-control" value=model.title placeholder="Enter title..."}}
</div>
<div class="divider"></div>
<div>
    {{textarea class="form-control" value=model.body placeholder="Enter body..."}}
</div>
<div class="divider"></div>